<!--<footer class="footer mt-auto py-3 bg-light ">-->
<!--  <div class="container">-->
<!--    <span class="text-muted">&copy; Awotech - All rights reserved.</span>-->
<!--  </div>-->
<!--</footer>-->

<!-- Footer -->
<footer class="text-center text-lg-start text-muted footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>
            Mars Infotech
          </h6>
          <p>
            Mars Infotech does detailed Securities price analysis, and does forecast using various machine learning and Deep learning algorithms.
            We also do thorough market sentiments analysis from various news and media sources and show our recomendations accordingly.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <!-- <i class="fas fa-gem me-3"></i> -->
            Our Services
          </h6>
          <p class="row">
            <a href="#!" class="text-reset">Securties forecasting</a>
          </p>
          <p class="row">
            <a href="#!" class="text-reset">Market Sentiments Analysis</a>
          </p>
          <p class="row">
            <a href="#!" class="text-reset fw-normal">Machine Learning</a>
          </p>
          <p class="row">
            <a href="#!" class="text-reset">Deep Learning</a>
          </p>
          <p class="row">
            <a href="#!" class="text-reset">Software Development Services</a>
          </p>          
                     
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <!-- <i class="fas fa-gem me-3"></i> -->
            Useful links
          </h6>
          <p>
            <a href="/viewforecast" class="text-reset">Forecast Analysis</a>
          </p>
          <p>
            <a href="/dashboard" class="text-reset">Compare Forecast history</a>
          </p>
          <p>
            <a href="/dashboard" class="text-reset">Market Sentiments Details</a>
          </p>
          <p>
            <a href="/contact" class="text-reset">Contact Us</a>
          </p>
          <p>
            <a href="/faqs" class="text-reset">Frequently asked qeustions</a>
          </p>
          <p>
            <a href="/newssignup" class="text-reset">Subscribe for new updates</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            <!-- <i class="fas fa-gem me-3"></i> -->
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> {{contactUsAddress}} </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            {{contactUsEmail}}
          </p>
          <p><i class="fas fa-phone me-3"></i> {{contactUsPhone}}</p>
          <p><i class="fas fa-print me-3"></i> {{contactUsFax}}</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
<!--    © 2021 Copyright:-->
<!--    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
    © Mars Infotech @2022 - All rights reserved

  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
