<header>
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-super-light hright">

    <!--  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-super-light navbar-custom navbar-text header">-->
    <!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top header">-->
    <!--  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">-->
    <!-- START - MENU BAR-->
    <div class="container-fluid">
      <!-- Navbar toggle button for small display screens like mobile/tablet   -->
      <button class="navbar-toggler" type="button" (click)="mobileNavbarToggleBtn.toggle()"
              aria-controls="mainMenuBar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Logo and brand name -->
      <a class="navbar-brand">
        <img src="../../../assets/images/mars-infotech-logo3.PNG" width="200" alt="mars-infotech-logo" loading="lazy"/>
      </a>

      <!-- Start - MAIN MENU -->
      <div mdbCollapse #mobileNavbarToggleBtn="mdbCollapse" class="collapse navbar-collapse justify-content-end"
           id="mainMenuBar">
        <ul class="navbar-nav nav-pills">
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="viewforecast">Forecast Analysis</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>         
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="newsupdates">News updates</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="faqs">FAQ</a>
          </li>
          <!-- Start Account dropdown -->
          <li *ngIf="!userService.isLoggedIn()" routerLinkActive="active" class="nav-item" >
            <a class="nav-link" routerLink="login" (click)="login()">Login</a>
          </li>
          <li *ngIf="userService.isLoggedIn()" routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="logout" (click)="logout()">Logout</a>
          </li>
          <!-- End Account dropdown -->

          <!-- Search form -->
          <li class="nav-item, header-search-form-pos-style">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>

          <!-- Start Language dropdown -->
          <li mdbDropdown class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" type="button" id="langDropdownBtn" aria-expanded="false"
               mdbDropdownToggle> Language
            </a>
            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="langDropdownBtn">
              <li>
                <a class="dropdown-item" routerLink="">
                  <i class="flag-united-states flag"></i>English (US)
                </a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" routerLink="">
                  <i class="flag-russia flag"></i>Russian (Русский)
                </a>
              </li>
              <li>
                <hr class="dropdown-divider"/>
              </li>
              <li>
                <a class="dropdown-item" routerLink="">
                  <i class="flag-china flag"></i>Chinese (中文)
                </a>
              </li>
            </ul>
          </li>
          <!-- End Language dropdown -->
        </ul>
        <!-- END - MAIN MENU -->
      </div>
      <!-- END - MENU BAR-->
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <!--  <div class="p-5 text-center bg-image" style="background-image: url('https://mdbootstrap.com/img/new/slides/041.webp');-->
  <!--      height: 200px; margin-top: 50px;">-->
  <div class="p-5 text-center bg-image" style="background-image:url('../../../assets/images/stock-forecast-header1.jpg'); height: 180px; margin-top: 80px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h2 class="mb-3">Securities Forecast and Market Sentiments Analysis Services</h2>
          <h5 class="mb-3">A leader in Securities Analysis, Price Prediction, Buy/Sell forecasting and Market Sentiments Analysis </h5>

          <!--          <a class="btn btn-outline-light btn-lg" href="#!" role="button">contact us</a>-->          
          <a class="btn btn-outline-light btn-lg m-2" routerLink="newssignup"
             role="button" rel="nofollow">Subscribe for updates</a>
          <a class="btn btn-outline-light btn-lg m-2" routerLink="contact"
             role="button" >Contact us</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
