<div class="welcome py-1">
    <div class="container py-xl-1 py-lg-1" id="services">
        <div class="row">
            <div class="col-lg-5 welcome-left">
                <h3 class="title-w3ls mt-2 mb-3">Services provided by Mars Infotech AI forecast services</h3>

                <p class="mt-4 pr-lg-5">Mars Infotech AI forecast services offers a diverse range of securities forecast
                    and market sentiments analysis summary to customers from various digital news channels and media plateforms
                    such as Twitter, Yahoo Fianace, Google, ..etc.
                </p>
            </div>
            <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-sm-4 service-1-w3pvt serve-gd1">
                        <div class="serve-grid mt-4">
                            <span class="fa fa-users s1"></span>
                            <p class="mt-2">Market Sentiments analysis</p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3pvt serve-gd2">
                        <div class="serve-grid mt-4">
                            <span class="fa fa-handshake-o s2"></span>
                            <p class="mt-2">Digital media plateforms and news analysis</p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-home s3"></span>
                            <p class="mt-2">Artificial Inteligence </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3pvt serve-gd3">
                        <div class="serve-grid mt-4">
                            <span class="fa fa-graduation-cap s6"></span>
                            <p class="mt-2">Machine Learning </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-car s4"></span>
                            <p class="mt-2">Securities Forecast</p>
                        </div>
                        <div class="serve-grid mt-4">
                            <span class="fa fa-stethoscope s5"></span>
                            <p class="text-li mt-2">Historical Forecast comparision</p>
                        </div>
                                                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>